@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userObjectJson = ViewBag.UserObjectJson;
    var userObject = Newtonsoft.Json.JsonConvert.DeserializeObject<User>(userObjectJson);
}

<h1>Complains</h1>

@if (userObjectJson != null)
{
    <script>
        // Parse the JSON data received from the controller action
        var userData = @Html.Raw(userObjectJson);

        // Check if userData is not empty (user is logged in)
        if (userData) {
            // Save user data in session storage
            sessionStorage.setItem('userData', JSON.stringify(userData));
            console.log('User data saved in session storage:', userData);
        }
    </script>
}
<div class="d-grid gap-2 d-md-block">
    <a asp-action="CreateEng" asp-controller="User" class="btn btn-primary">Create New Compliants English</a>
    <a asp-action="CreateArabic" asp-controller="User" class="btn btn-info">Create New Compliants Arabic</a>
</div>
<br />
<table class="table table-striped table-borderd table-hover">
    <tr>

        <th style="text-align:center">Text</th>
        <th style="text-align:center">ContetType</th>
        <th style="text-align:center">Status</th>
       
        <th style="text-align:center">Demands</th>
        
    </tr>
    @if (Model != null)
    {
        @foreach (var Potato in Model)
        {
            <tr>

                <td style ="text-align:center">@Potato.Text</td>
                <td style ="text-align:center">@Potato.ContentType</td>
                <td style="text-align:center" >
                
                        @if (userObject.TypeOfUser == "Admin")
                        {
                        <form method="post" asp-action="CheckedComp" asp-controller="User" asp-route-id="@Potato.Id">
                            <button type="submit" class="btn btn-outline-success">Accept</button>
                        </form>
                        
                        <form method="post" asp-action="RejComp" asp-controller="User" asp-route-id="@Potato.Id">
                            <button type="submit" class="btn btn-outline-danger">Reject</button>
                        </form>
                        <br />
                        
                        @Potato.Status

                        }
                        else if (userObject.TypeOfUser == "User")
                        {
                            @Potato.Status
                           
                            
                        }

                </td>
                
                
                <td style="text-align:center">
                    @if (Potato.Demands != null)
                    {
                        foreach (var demand in Potato.Demands)
                        {
                            <div>
                                <!-- Output the labels behind the values -->
                                <h6>Type : @demand.Description</h6>  <br />
                               
                                <hr>
                            </div>
                        }
                    }
                </td>
                
            </tr>
        }
    }


</table>
@* <div>
    <a asp-action="CreateEng">Create New Compliants English</a>
</div>
<div>
    <a asp-action="CreateArabic">Create New Compliants Arabic</a>
</div> *@




<h1> user logged in in index page</h1>
@* <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    $.ajax({
        url: "https://localhost:5159/api/Users/Getcomplaints",
        success: function (data) {
            console.log(data);
            $("#results").append(html);
        }
                error: function (data) {
            alert("faild");
        }

    });
 *@
</script>

<!-- Rest of your HTML content for the Index view -->
