@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userObjectJson = ViewBag.UserObjectJson;
}

<h1>Complains</h1>

@if (!string.IsNullOrEmpty(userObjectJson))
{
    <script>
        // Parse the JSON data received from the controller action
        var userData = @Html.Raw(userObjectJson);

        // Check if userData is not empty (user is logged in)
        if (userData) {
            // Save user data in session storage
            sessionStorage.setItem('userData', JSON.stringify(userData));
            console.log('User data saved in session storage:', userData);
        }
    </script>
}
<table class="table table-striped table-borderd">
    <tr>
        
        <th>Text</th>
        <th>ContetType</th>
        <th>Status</th>
        <th>UserId</th>
    </tr>
    @if (Model != null)
    {
        @foreach (var Potato in Model)
        {
            <tr>
                
                <td>@Potato.Text</td>
                <td>@Potato.ContentType</td>
                <td class="text-center">


                    <a asp-action="UpdateComp" asp-controller="User" asp-route-id="@Potato.Id" class="btn btn-outline-warning">Edit</a>
                    <a asp-action="Accepted" asp-controller="Admin" asp-route-id="@Potato.Id" class="btn btn-outline-success">Accepted</a>
                    <a asp-action="Rejected" asp-controller="Admin" asp-route-id="@Potato.Id" class="btn btn-outline-danger">Rejected</a>

                </td>
                <td>@Potato.UserId</td>
            </tr>
        }
    }


</table>
<div>
    <a asp-action="Create">Create New Compliants</a>
</div>
<div>
    <a asp-action="GetProfile">My profile</a>
</div>



<h1> user logged in in index page</h1>
@* <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
    $.ajax({
        url: "https://localhost:5159/api/Users/Getcomplaints",
        success: function (data) {
            console.log(data);
            $("#results").append(html);
        }
                error: function (data) {
            alert("faild");
        }

    });
 *@
</script>

<!-- Rest of your HTML content for the Index view -->
